@font-face {
    src: url(./fonts/IRANSans.ttf);
    font-family: 'IRANSans';
}
/***************************************************************
 css default reset ...
 ***************************************************************/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fafafa;
    color: #212121;
  }
  img{
      width: 112px;
      height: 112px;

  }
  p{  font-family: 'IRANSans';
      font-size: 18px;
      direction: rtl;
  }
  h1{
      font-size: 36px;
  }

/***************************************************************
 UTILS ...
 ***************************************************************/

 .container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }

.texts{
      font-family:"IRANSans";   
      direction: rtl;
      text-align: right;
    }
.order{
    background-color: white;
    width: 648px;
    height: auto;
}
.restaurant-name{
    direction: rtl;
    font-family: 'IRANSans';
}
.items{
    direction: rtl;
    font-family: 'IRANSans'
}
.item-name{
   margin-right: 5px;
   position: absolute;
   margin-top: 50px;
}
.item-price{
    position: absolute;
    margin-right: 420px;
    margin-top: 50px;
}
